.circle{
    list-style-type: circle;
}

body{
    border: 1px solid gray;
     
    margin: 60px 270px 60px 270px;
    padding: 40px;
    /* background-color: rgb(66, 65, 65);*/
    background-color:white;
}
html{
    background-color: rgb(20, 17, 13);
}

